h1 {
  color: red;
}
 #img-wrap{
            width:300px;
            height:190px;
            position: relative;
            overflow: hidden;
        }
       #img-wrap img{
           width:300px;
           height:auto;
           float:left;
           position:absolute;
           top:0;
           left:0;
           opacity: 0;// 完全透明
       }
        #img-wrap img:first-child{
            animation:h1 8s linear 0s infinite;
            -webkit-animation:h1 8s linear 0s infinite; // 自定义动画名为h1,8s完成该动画，匀速执行该动画，立即执行，循环执行动画 
        }
        #img-wrap img:nth-child(2){
            animation:h1 8s linear 2s infinite;
            -webkit-animation:h1 8s linear  2s infinite ;
        }
        #img-wrap img:nth-child(3){
            animation:h1 8s linear 4s infinite ;
            -webkit-animation:h1 8s linear  4s infinite  ;
        }
        #img-wrap img:nth-child(4){
            /*animation-name: h4;
            animation-delay: 0s;
            animation-duration: 8s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;*/
            animation:h1 8s linear 6s infinite ;
            -webkit-animation:h1 8s linear  6s infinite  ;
        }
 
        @keyframes h1 {
                  0%{
                      opacity: 1;
                  }
                  25%{
                        opacity: 0;
                    }
            50%{
                opacity: 0;
            }
            75%{
                opacity: 0;
            }
            100%{
                opacity: 0;
            }
        }
        -webkit-@keyframes h1 {
                    0%{
                        opacity: 1;
                    }
                    25%{
                        opacity:0;
                    }
                    50%{
                        opacity: 0;
                    }
                    75%{
                        opacity: 0;
                    }
                    100%{
                        opacity: 0;
                    }
                }
